<div data-role="page">

  <div data-role="header">
    <%= render 'header' %>
    <h2><%= @job.title %></h2>
  </div>

  <div data-role="content">
      <p>Title:<%= @job.title %></p>
      <p>Salary:<%= @job.salary %></p>
      <p>Industry:<%= @job.industry %></p>
  </div>

</div>